.header{
  background: #fff;
  display: flex;
  box-shadow: 0 0 30px -10px #000;
  .ant-menu{
    border: none;
    .ant-menu-item{
      border: none !important;
      color: #000000 !important;
      top: 0;
    }
  }
  .left-menu{
    flex: 1;
    .ant-menu-item-selected{
      background: #f2f3f4;
    }
    .ant-dropdown-trigger{
      i{
        margin: 0 0 0 5px;
      }
    }
  }
  .right-menu{
    display: flex;
    .ant-menu-item{
      display: flex;
      justify-content: center;
      align-content: center;
      .ant-dropdown-trigger{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        .ant-avatar-image{
          margin-right: 10px;
        }
        .anticon{
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}